<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="utf-8" />
	<title>Bank of TypeScript</title>
	<script src="BankAccountUI.js"></script>
	<script src="../Models/BankAccount.js"></script>	
</head>

<body>
	<div class="container">
		<div>
			<h1>Bank of TypeScript</h1>
			<table>
				<tr>
					<td>Name:</td>
					<td><input id="nameTextBox" type="text" /></td>
				</tr>
				<tr>
					<td>Amount:</td>
					<td><input id="amountTextBox" type="text" /></td>
				</tr>
				<tr>
					<td>Account Type</td>
					<td>
						<select id="accountTypeDropdown">
							<option value="">--Select One--</option>
							<option value="Checking">Checking</option>
							<option value="Savings">Saving</option>
							<option value="Investment">Investment</option>
						</select>
					</td>

				</tr>
				<tr>
					<td colspan="2">
						<button id="openAccountButton" value="Open">Open Account</button>
					</td>
				</tr>
				<tr>
					<td><button disabled id="depositButton" value="Deposit">Deposit</button></td>
					<td><button disabled id="withdrawButton" value="Withdraw">Withdraw</button></td>
				</tr>
				<tr>
					<td colspan="2">&nbsp;</td>
					</td>
				</tr>
				<tr>
					<td colspan="2">Name: <span id="accountHolderNameSpan">Customer</span>
					</td>
				</tr>
				<tr>
					<td colspan="2">Account ID: <span id="accountIdSpan">00000</span>
					</td>
				</tr>					
				<tr >
					<td colspan="2">Type: <span id="accountTypeSpan">None</span>
					</td>
				</tr>
				<tr>
					<td colspan="2">Balance: <span id="accountBalanceSpan">$0.00</span>
					</td>
				</tr>				
				<tr>
					<td colspan="2"><span id="messageSpan"></span>
					</td>
				</tr>															
			</table>
		</div>
	</div>
</body>


</html>